/* Reset & Basic style */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

body {
  font-size:17px;
  line-height:17px;
  height:100%;
  width: 100%;
  font-family: "Century Gothic",Helvetica,Arial,sans-serif;
  letter-spacing:3px;
  text-rendering: optimizeLegibility;
  text-transform:uppercase;
}

#sailboat {
  float:left;
  margin:0 auto;
  width:50px;
  height: 100px;
  z-index: 100;
  cursor: url(../images/cursor.png), auto;
}

p {
  text-align: center;
  font-size: 13px;
  float:left;
  font-family: "Oleo Script", sans-serif;
  color: #006BB2;
}

.wrap {
  clear:both;
  position:relative;
  width:800px;
  margin-top: 0;
  margin-left: 20%;
  text-align:center;
}

#logo {
  position:relative;
  width:90px;
  height:60px;
  display:block;
  margin:0 auto 80px;
  background:url(../images/titlelogo.png) no-repeat 50% 50%;
  z-index: 100;
}

#carousel {
  position:relative;
  margin: 20px auto -60px auto;
  width: 480px;
  overflow:hidden;
}

#carousel ul {
  width: 1920px;
  padding: 0;
  margin: 0;
}

#carousel ul li {
  width:480px;
  text-align: center;
  height: 280px;
  list-style: none;
  float:  left;
}

h1 {
  font-size: 20px;
  line-height: 20px;
  color:#a3c2ff;
  letter-spacing: 5px;
}

h2 {
  font-size:15px;
  line-height:13px;
  position:relative;
  margin-top:10px;
  letter-spacing:3px;
  color:#FFAAAA;
}

h3 {
  font-size:13px;
  line-height:12px;
  position:relative;
  margin-top:10px;
  letter-spacing:1px;
  color:black;
}

h4 {
  font-size:11px;
  line-height:11px;
  position:relative;
  margin-top:10px;
  letter-spacing:1px;
  color:#666;
}

h3 em,
h4 em {
  font-size:8px;
  position:relative;
  top:-1px;
  color:#aaa;
}

.topbar {
  width: 100%;
  margin: -50px auto 0 auto;
  list-style: none;
  text-align: center;
  display: block;
}

.topbar ul {
  display: inline-table;
}

.topbar ul li {
  float: left;
  color: black;
  padding: 5px;
  font-size: 12px;
  display: inline;
}

.topbar a {
  color: black;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.topbar a:hover {
  color: black;
  text-decoration: underline;
}


.topbar a:active {
  color: black;
  text-decoration: underline;
}

nav.links {
  position:relative;
  display:block;
  margin-top:20px;
  text-align:center;
  font-size:0px;
}

nav.links a {
  position:relative;
  display:inline-block !important;
  *display:inline !important;*zoom:1;
  width:40px;
  height:40px;
  margin:0 5px;
  color:white;
}

.twitter {
  background:url(../images/twitterlogo.png) no-repeat 0 0;
}

nav.links a.twitter {
  background-color:#8ae0fc;
}

nav.links a.twitter:hover,
nav.links a.twitter:focus {
  background-color: #7bc4dc;
}

.tumblr {
  background: url(../images/tumblrlogo.png) no-repeat 0 0;
}

nav.links a.tumblr {
  background-color:#eb9dbb;
}

nav.links a.tumblr:hover,
nav.links a.tumblr:focus {
background-color: #c5839c;
}

.linkedin {
  background: url(../images/linkedinlogo.png) no-repeat 0 0;
}

nav.links a.linkedin {
  background-color:#7891b4;
}

nav.links a.linkedin:hover,
nav.links a.linkedin:focus {
background-color: #687d9b;
}

#bottom {
  float:right;
  position: relative;
}