/* Reset & Basic style */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/*==========================================*/

/*home page style*/

h1,
h3,
.direction,
.footer {
  font-family: 'Mountains of Christmas', cursive;
  color: #FE0000;
  font-size: 25px;
  display: block;
  text-align: center;
}

h1 {
  padding: 25px;
  font-weight: bold;
}

.options {
  display: block;
  margin: 0 auto;
  margin-bottom: 5%;
}

.options a {
  opacity: 0.7;
}

.options a:hover {
  opacity: 1;
}

.options img {
  width: 40%;
  margin-left: 5%;
  vertical-align: middle;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h3 .even,
h1 .even,
.footer .even {
  display: inline;
}

.even {
  color: #008001;
}

.direction ol li {
  margin-left: 5%;
}

.odd,
.even {
  display: block;
  text-align: center;
}

.wrapper {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.direction,
.options {
  display: block;
}

.footer {
  margin-top:  6%;
}


/*beard and mustache style*/

.beard,
.mustache {
  float: left;
  margin-left: 40px;
  margin-top: 25px;
}

.ornaments {
  float: right;
  margin-top: 25px;
  width: 500px;
  height: 500px;
  margin-right: 50px;
}

h3 {
  margin-top: 50px;
  font-weight: bold;
}
