/* Reset & Basic style */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/*==========================================*/


body {
  margin: 0;
  background: #222;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
 background: url('http://wallpaper.pickywallpapers.com/1600x900/sparkly-dots.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.wrapper {
  display: block;
  margin-bottom: 150px;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}

h1 {
  font-size: 4em;
  padding-top: 20px;
  padding-left: 50px;
}

#myCanvas {
  font-family: 'Raleway', sans-serif;
  width: 500px;
  height: 300px;
  margin: 20px auto;
  position: relative;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}